{% extends "layout.html" %}
{% block subtitle%}
 <a href="{{ url_for ('login') }}">LOG IN</a>
{% endblock %}
{% block content %}
      <div class="container container-fluid">
        <div class="row">
          <div class="col-md-6" info id="device-content">
            <h2>Discover places near you.</h2>
            <a href="{{ url_for ('signup') }}" class="btn-primary">Sign up</a>
            <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a> 
          </div>

          <div class="col-md-6 image" id="device-img">
            <img src="static/img/device.jpg" class="img-responsive">
          </div>
         </div>

       <div class="clearfix"></div>

    </div>
  
{% endblock %}